<footer>
    <div id="footer">
        <div class=" container d-flex justify-content-center text-white pt-4 pb-4" id="footer">
            <div class="mr-5">
                <p class="text-uppercase font-weight-bold mb-3">A propos de centre'auto'ccas</p>
                <p><a class="mb-2 text-white" href="#">Qui sommes-nous ?</a></p>
                <p><a class="mb-2 text-white" href="#">Nos partenaires</a></p>
                <h6 class="mt-5">© Centre'Auto'Ccas 2020</h6>
            </div>       
            <div class="ml-5 mr-5">
                <p class="text-uppercase font-weight-bold mb-3">Information légales</p>
                <p><a href="#" class="text-white">Conditions générales d'utilisation</a></p>
                <p><a href="#" class="text-white">Mentions légales</a></p>
                <p><a href="#" class="text-white">Politiques de confidentialité</a></p>
            </div>
            <div class="ml-5 mr-5">
                <p class="text-uppercase font-weight-bold mb-3">Contact</p>
            </div>
            <div class="ml-5">
                <p class="text-uppercase font-weight-bold mb-3">Nous suivre</p>
            </div>        
        </div>
    </div>
</footer>
