<h1 class="text-center text-uppercase font-italic font-weight-bold mb-5">Nos coups de coeur du mois</h1>
<div class="container">
    <div class="d-flex flex-wrap justify-content-around">
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>
        <app-car-card></app-car-card>       
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mb-5">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
</nav>


