<div class="container mt-5 mb-5">
    <a href="index.html">Retour accueil</a>
    <div class="row mt-3">
      <div id="carouselExampleIndicators" class="col-8 carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="#" class="d-block w-100" alt="ford">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="ford_1">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="ford_2">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="ford_3">
          </div>
          <div class="carousel-item">
            <img src="#" class="d-block w-100" alt="ford_4">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Suivant</span>
        </a>
      </div>
      <div class="col-4" id="description">
        <h1>Ford Kuga</h1>
        <h3>2.0 tdc 115 ch fap titanium</h3>
        <h4>Réf. : FRD-KA-5413</h4>
        <h1>Prix : 12 490 €</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt et quis amet, nullam eu et. 
        Aliquam, quis magna id maecenas adipiscing. Mattis sed habitant in nulla lectus non mauris enim.
        Egestas praesent pulvinar aenean integer. Turpis.
        </p>
    </div>
    <div class="col-8 mt-5" id="caracteristics">
      <h1>Caractéristiques techniques</h1>
      <table class="table table-hover mt-5">
        <tbody>
          <tr>
            <td class="text-left font-weight-bold">Kilométrage</td>
            <td class="text-right">110 300 km</td>
          </tr>
          <tr>
            <td class="text-left font-weight-bold">Energie</td>
            <td class="text-right">Diesel</td>
          </tr>
          <tr>
            <td class="text-left font-weight-bold">Mise en circulation</td>
            <td class="text-right">2015</td>
          </tr>
        </tbody>
      </table>       
    </div>   
